<div class="card">
  <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
          <button pButton pRipple label="Create New Admin" icon="pi pi-plus" class="p-button-success p-mr-2 create-button" (click)="openNew()"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <p-slideMenu #sideMenu [model]="items" styleClass="download-popup" [popup]="true"></p-slideMenu>
          <button pButton pRipple label="Export Data" icon="pi pi-upload" class="p-button-help" (click)="sideMenu.toggle($event)"></button>

      </ng-template>
  </p-toolbar>
  <div  class="table-area">
  <p-table #dt [value]="admins"
   [rows]="10"
    [resizableColumns]="true"
    [paginator]="true"
     [globalFilterFields]="['admins.id','admins.name','admins.email', 'admins.telephone', 'admins.isActive', 'admins.dateAdded']"
       [rowHover]="true"
        dataKey="my-table"
       responsiveLayout="scroll"
       styleClass="p-datatable-gridlines"
       columnResizeMode="expand"
       [rowsPerPageOptions]="[10,25,50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

      <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Manage Admin</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event!.target! , 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
             <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="name">Full Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
              <th pSortableColumn="telephone">Phone Number <p-sortIcon field="telephone"></p-sortIcon></th>
               <th pSortableColumn="isActive">Is Active <p-sortIcon field="isActive"></p-sortIcon></th>
              <th pSortableColumn="dateAdded">Date Created <p-sortIcon field="dateAdded"></p-sortIcon></th>
              <th>Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admins>
          <tr>
            <td>{{admins.id}}</td>
              <td>{{admins.name}}</td>
              <td>{{admins.email}}</td>
              <td>{{admins.telephone}}</td>
              <td>{{admins.isActive}}</td>
              <td>{{admins.dateAdded | date: 'short'}}</td>

              <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-4" (click)="editAdmin(admins)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAdmin(admins)"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
</div>

<p-dialog [visible]="adminDialog"
[style]="{width: '450px'}"
header="Admin Details"
[dismissableMask]= "false"
[modal]= "true"
[closable]="false"
styleClass="p-fluid">
  <ng-template pTemplate="content">

      <div class="p-field input-margin">
          <label for="fullName">Full Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="admin.name" required  />
          <small class="p-invalid" *ngIf="submitted && !admin.name">Name is required.</small>
      </div>
      <div class="p-field input-margin">
        <label for="email">Email</label>
        <input type="text" pInputText id="email" [(ngModel)]="admin.email" required  />
        <small class="p-invalid" *ngIf="submitted && !admin.email">email is required.</small>
    </div>
    <div class="p-field input-margin">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" pInputText id="telephone" [(ngModel)]="admin.telephone" required  />
      <small class="p-invalid" *ngIf="submitted && !admin.telephone">Phone number is required.</small>
  </div>


<div class="p-field input-margin" *ngIf="editingAdmin">
<label for="password">Password</label>
<p-password  [toggleMask]="true"  id="password" [(ngModel)]="admin.password" required   [feedback]= true ></p-password>
</div>

      <div class="p-field" class="p-grid" *ngIf="!editingAdmin">
          <label class="p-mb-3">Is Active</label>
          <div *ngFor="let value of values" class="p-field-checkbox">
            <p-radioButton [inputId]="value.toString()" name="isActive" id="isActive" [value]="value" [(ngModel)]="admin.isActive"></p-radioButton>
            <label [for]="selectedValue">{{value}}</label>
          </div>
      </div>


  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAdmin()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
