:host ::ng-deep {
  .p-dialog {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
  }
  .action-button {
    padding: 7px;
  }
  .table-area {
    padding-top: 30px;
    margin: 20px;
  }
  .download-popup {
    border-radius: 12px;
    width: 130px;
    height: 100px;

  }
  .create-button{
    background-color:purple;
  }
  .date-time{
    margin-bottom: 30px;
  }

  .basic-inform {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .width-setting {
    width: 260px;
  }

  .width-name {
    width: 400px;
  }
}
