<div class="card">
  <p-toolbar styleClass="p-mb-4">

    <ng-template pTemplate="right">
      <p-slideMenu
        #sideMenu
        [model]="items"
        styleClass="download-popup"
        [popup]="true"
      ></p-slideMenu>
      <button
        pButton
        pRipple
        label="Export Data"
        icon="pi pi-upload"
        class="p-button-help"
        (click)="sideMenu.toggle($event)"
      ></button>
    </ng-template>
  </p-toolbar>

  <div  class="table-area" *ngFor="let comment of comments">
  <p-card>
    <div class="comment-display">
      <div class="ant-date"><span style="font-weight: bold;">Antenatal Date: {{comment.Appointment.appointed_date}}</span></div>

      <div style="display: flex; flex-direction: row; gap: 20px;">
    <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge"></p-avatar>
    <div class="comment-details">
      <h3 style="line-height: 1px;">{{comment.ExpectedMother.name}}</h3>
      <span>{{comment.Comment.message}}</span>
      <span>{{comment.Comment.dateAdded | date: 'short'}}</span>
    </div>
  </div>
</div>
<div class="delete-button">
  <button
  pButton
  pRipple
  icon="pi pi-trash"
  class="p-button-rounded p-button-warning"
  (click)="deleteComment(comment.Comment)"
></button>
</div>

  </p-card>
  </div>
  </div>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
