:host ::ng-deep {
  .action-button {
    padding: 7px;
  }

  .table-area {
    padding-top: 30px;
    margin: 20px;
  }
  .download-popup {
    border-radius: 12px;
    width: 130px;
    height: 100px;
  }

  .comment-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .comment-details {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    flex-direction: column;
  }
  .ant-date {
    display: flex;
    position: relative;
    left: 900px;
  }
  .delete-button {
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 480px) {
    .ant-date {
      display: flex;
      position: relative;
      left: 20px;
    }

    .comment-card {
      display: flex;
      justify-content: center;
      background-color: #FFFF;
      width: 370px;
    }

    .comment-p {
      display: flex;
       flex-direction: column;
       justify-content: center;
        gap: 20px
    }
  }
}
