:host ::ng-deep {
  .login-main {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    gap: 30px;
  }
  .left-card {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .login-image {
    height: 470px;
    width: 600px;
  }

  .right-card {
    display: flex;
    height: 550px;
    width: 600px;
    float: right;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .login-button {
    background-color: #650354;
    position: relative;
    width: 300.5px;
    height: 37.01px;
    justify-content: center;
    margin-bottom: 10px;
  }
  .login-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
  }
  .login-form {
    width: 300.5px;
    height: 37.01px;
  }

  .login-span {
    margin-bottom: 40px;
  }
  .login-area {
    margin: auto;
  }
  .forgot-password {
    padding-left: 170px;
    cursor: pointer;
  }
  .info-dialog {
    width: 400px;
    background-color: royalblue;
    color: #FFFF;

  }

  .info-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 480px){
    .login-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 20px;
    }
    .login-image {
      height: 440px;
      width: 400px;
    }
    .left-card {
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
     }
    .right-card {
      margin-left: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
    }

  .forgot-password {
    padding-left: 100px;
    cursor: pointer;
  }
}

  @media (max-width: 1024px) {
    .login-main {
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 20px;
    }

    .right-card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-right: 0;
      height: 500px;
      width: 640px;
      justify-content: center;
    }

  .forgot-password {
    padding-left: 100px;
    cursor: pointer;
  }
}

  @media (max-width: 768px) {
    .login-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 20px;
    }

    .right-card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      margin-right: 0;
      min-height: auto;
      width: 610px;
      justify-content: center;
    }

  }

  //   320px — 480px: Mobile devices
  // 481px — 768px: iPads, Tablets
  // 769px — 1024px: Small screens, laptops
  // 1025px — 1200px: Desktops, large screens
  // 1201px and more —  Extra large screens, TV
}
