<section class="login-main">
  <p-card styleClass="left-card">
    <img src="assets/images/pwoman.png" alt="Image" class="login-image" />
  </p-card>

  <p-card styleClass="right-card">
    <form
      [formGroup]="formService.resetPasswordForm"
      (ngSubmit)="onResetPassword()"
      name="loginForm"
    >
      <h2>Antenatal Monitoring System</h2>
      <h3>Password Reset!...</h3>
      <span class="p-float-label p-input-icon-right login-span">
        <i class="pi pi-user"></i>
        <input
          id="float-input"
          type="text"
          class="login-form"
          pInputText
          formControlName="username"
        />
        <label for="float-input">Email</label>
      </span>

      <button
        label="Submit"
        pButton
        primary
        icon="pi pi-send"
        class="login-button"
      ></button>
    </form>
    <div>
      <a class="forgot-password" routerLink="/login">login</a>
    </div>
  </p-card>
</section>

<p-dialog
  [visible]="confirmDialog"
  [style]="{ width: '450px' }"
  header="Confirming Phone Number"
  [dismissableMask]="false"
  [modal]="true"
  [closable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-card styleClass="info-dialog">
      <div class="info-message">
        <h3>{{ resetPasswordResponse.message }}</h3>
        <h3>Phone Number: {{resetPasswordResponse.telephone }}</h3>
      </div>
    </p-card>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Confirm"
      icon="pi pi-check"
      class="p-button-text"
      (click)="requestOTP()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [visible]="enterOTP"
  [style]="{ width: '450px' }"
  header="Admin Details"
  [dismissableMask]="false"
  [modal]="true"
  [closable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <p-card styleClass="info-dialog">
      <div class="info-massage">
        <div class="p-field input-margin">
          <label for="phone number">Phone Number</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="resetPasswordResponse.telephone"
            disabled="true"
            required
          />
          <small class="p-invalid" *ngIf="submitted && telephone"
            >Phone Number is required.</small
          >
        </div>

        <div class="info-massage">
          <div class="p-field input-margin">
            <label for="otp">OTP Code</label>
            <input
              type="text"
              pInputText
              id="name"
              [(ngModel)]="otpCode"
              required
            />
            <small class="p-invalid" *ngIf="submitted && otpCode"
              >OTP Code is required.</small
            >
          </div>
        </div>
      </div>
    </p-card>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Verify"
      icon="pi pi-check"
      class="p-button-text"
      (click)="submitOTP()"
    ></button>
  </ng-template>
</p-dialog>
