<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Create New Antenatal Appointment"
        icon="pi pi-plus"
        class="p-button-success p-mr-2 create-button"
        (click)="openNew()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-slideMenu
        #sideMenu
        [model]="items"
        styleClass="download-popup"
        [popup]="true"
      ></p-slideMenu>
      <button
        pButton
        pRipple
        label="Export Data"
        icon="pi pi-upload"
        class="p-button-help"
        (click)="sideMenu.toggle($event)"
      ></button>
    </ng-template>
  </p-toolbar>

  <div class="table-area">
    <p-table
      #dt
      [value]="appointments"
      [rows]="10"
      [resizableColumns]="true"
      [paginator]="true"
      [globalFilterFields]="['Id', 'First Name']"
      [rowHover]="true"
      dataKey="my-table"
      responsiveLayout="scroll"
      styleClass="p-datatable-gridlines"
      columnResizeMode="expand"
      [rowsPerPageOptions]="[10, 25, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Manage Appointments</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (keyup)="searchData($event)"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Appointment?.id">
            Id <p-sortIcon field="Appointment?.id"></p-sortIcon>
          </th>
          <th pSortableColumn="first_name">
            First Name <p-sortIcon field="first_name"></p-sortIcon>
          </th>
          <th pSortableColumn="surname">
            Surname <p-sortIcon field="surname"></p-sortIcon>
          </th>
          <th pSortableColumn="telephone">
            Phone Number <p-sortIcon field="telephone"></p-sortIcon>
          </th>
          <th pSortableColumn="appointed_time">
            Appointment Time<p-sortIcon field="appointed_time"></p-sortIcon>
          </th>
          <th pSortableColumn="appointed_date">
            appointed_date <p-sortIcon field="appointed_date"></p-sortIcon>
          </th>
          <th pSortableColumn="attended">
            Attended<p-sortIcon field="attended"></p-sortIcon>
          </th>
          <th pSortableColumn="appointment_note">
            Appointment Note<p-sortIcon field="appointment_note"></p-sortIcon>
          </th>
          <th pSortableColumn="appointed_set_by">
            Appointment Created By
            <p-sortIcon field="appointed_set_by"></p-sortIcon>
          </th>
          <th pSortableColumn="dateAdded">
            Date Created <p-sortIcon field="dateAdded"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointments>
        <tr>
          <td>{{ appointments?.Appointment?.id }}</td>
          <td>{{ appointments?.ExpectedMother?.first_name }}</td>
          <td>{{ appointments?.ExpectedMother?.surname }}</td>
          <td>{{ appointments?.ExpectedMother?.telephone }}</td>
          <td>{{ appointments?.Appointment?.appointed_time }}</td>
          <td>{{ appointments?.Appointment?.appointed_date }}</td>
          <td>{{ appointments?.Appointment?.attended?'Yes': 'No' }}</td>
          <td>{{ appointments?.Appointment?.appointment_note }}</td>
          <td>{{ appointments?.Admin?.name }}</td>
          <td>{{ appointments?.Appointment?.dateAdded | date : "short" }}</td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              pTooltip="edit Appointment"
              class="p-button-rounded p-button-success p-mr-4"
              (click)="editAppointment(appointments)"
            ></button>
            <button
              pButton
              pRipple
              pTooltip="delete Appointment"
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteAppointment(appointments?.Appointment)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [visible]="appointmentDialog"
  header="Appointment Details"
  [dismissableMask]="false"
  [style]="{ width: '35.5vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [modal]="true"
  [contentStyle]="{
    height: '30vw',
    display: 'flex',
    paddingTop: '20px',
    flexDirection: 'column'
  }"
  [closable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field" *ngIf="editingAppointment">
      <label for="name">Expected Mother</label>
      <p-dropdown
        styleClass="dd-width"
        [options]="mothersList"
        [(ngModel)]="selectedMother"
        id="expected_mother_id"
        optionLabel="first_name"
        [filter]="true"
        filterBy="surname"
        [showClear]="true"
        placeholder="Select Expected Mother"
        [required]="true"
      >
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedMother">
            <div>
              {{ selectedMother.id }} {{ selectedMother.first_name }} {{ selectedMother.surname }}
            </div>
          </div>
        </ng-template>
        <ng-template let-motherList pTemplate="item">
          <div class="country-item">
            <div>{{ motherList.id }} {{ motherList.first_name }} {{ motherList.surname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div
      class="p-field"
      style="margin-bottom: 20px"
      *ngIf="!editingAppointment"
    >
      <label for="id">Expected Mother ID</label>
      <input
        type="text"
        pInputText
        id="id"
        [(ngModel)]="editingExistedAppointment.ExpectedMother!.id"
        disabled="true"
      />
    </div>

    <div
      class="p-field"
      style="margin-bottom: 20px"
      *ngIf="!editingAppointment"
    >
      <label for="fullName">First name</label>
      <input
        type="text"
        pInputText
        id="first_name"
        [(ngModel)]="editingExistedAppointment.ExpectedMother!.first_name"
        disabled="true"
      />
    </div>

    <div
      class="p-field"
      style="margin-bottom: 20px"
      *ngIf="!editingAppointment"
    >
      <label for="surname">Surname</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="editingExistedAppointment.ExpectedMother!.surname"
        disabled="true"
      />
    </div>

    <div class="p-field p-col-12 p-md-4">
      <label for="disabledays">Antenatal Appointment Date</label>
      <p-calendar
        [(ngModel)]="appointedDate"
        [minDate]="mDate"
        [readonlyInput]="true"
        [touchUI]="true"
        styleClass="date-time"
        inputId="appointed_date"
        [required]="true"
        [defaultDate]="defaultDate"
      ></p-calendar>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <label for="timeonly">Antenatal Appointment Time</label>
      <p-calendar
        [(ngModel)]="appointedTime"
        [timeOnly]="true"
        hourFormat="12"
        [touchUI]="true"
        inputId="appointed_time"
        styleClass="date-time"
        [required]="true"
      ></p-calendar>
    </div>

    <div class="p-field" style="margin-bottom: 20px">
      <label for="appointment_note">Appointment Note/ Medication</label>
      <textarea
        type="text"
        pInputText
        id="name"
        [(ngModel)]="editingExistedAppointment.Appointment!.appointment_note"
      ></textarea>
    </div>

    <div class="p-field" class="p-grid" *ngIf="!editingAppointment">
      <label class="p-mb-3">Attended</label>
      <div *ngFor="let value of values" class="p-field-checkbox">
        <p-radioButton
          [inputId]="value.value.toString()"
          name="attended"
          id="attended"
          [value]="value"
          [(ngModel)]="selectedValue"
        ></p-radioButton>
        <label [for]="selectedValue">{{ value.name}}</label>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer" style="width: 600px">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveAppointment()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
