<section class="login-main">

  <p-card styleClass="left-card">
    <img src="assets/images/pwoman.png" alt="Image" class="login-image">
    </p-card>

<p-card styleClass="right-card">
<form [formGroup]="formService.recoverPasswordForm" (ngSubmit)="onNewPassword()" name="loginForm" >
<h2>Antenatal Monitoring System</h2>
<h3> New Password Form!...</h3>
<span class="p-float-label p-input-icon-right  login-span" >
  <i class="pi pi-user "></i>
  <input id="float-input" type="text" [(ngModel)]="username"  class="login-form" pInputText  formControlName="username">
  <label for="float-input">Email</label>
</span>

<span class="p-float-label login-span" >
<p-password  [toggleMask]="true"  [feedback]= false  inputStyleClass="login-form "  formControlName="password"></p-password>
<label for="float-input">Password</label>
</span>

<span class="p-float-label login-span" >
  <p-password  [toggleMask]="true"  [feedback]= false  inputStyleClass="login-form "  formControlName="password1"></p-password>
  <label for="float-input">Confirm Password</label>
  </span>

<button  label="Submit" pButton primary  icon="pi pi-send" class="login-button"></button>

</form>
<div>
<a class="forgot-password" routerLink="/login">Login</a>
</div>

</p-card>
</section>
